/build/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/tools/internal-rules/node_modules/**
test.js
!.eslintrc.js


# Always ignore node_modules.
**/node_modules/

/coverage/
/coverage-frontend/
/coverage-javascript/
/node_modules/
/public/
/dist/
/www/
/tmp/
/cordova/
jest.config.js
jest.config.*.js
karma.config.js
webpack.config.js
